src/Real World Map Data/Assets/Resources/
src/Real World Map Data/Library/
src/Real World Map Data/Temp/
src/Scene Based Real World Map Data/Library/
src/Scene Based Real World Map Data/Temp/
src/Scene Based Real World Map Data/obj/
src/Scene Based Real World Map Data/.vs/
